@{
    ViewData["Title"] = "Administração";
}

@model Login

<section class="text-center p-5 vh-100 overflow-auto">

    @if (!string.IsNullOrEmpty(ViewBag.Erro))
    {
        <h3>@ViewBag.Erro.ToString()</h3>
    }

    <div class="p-5 vh-100 w-100 d-flex justify-content-center">
        <form asp-controller="Home" asp-action="Login" method="post" class="d-flex flex-column w-75 gap-4 align-items-center">
            <div class="w-25">
                <label for="username">Usuário:</label>
                <input type="text" name="username" id="username" asp-for="@Model.Username"/>
            </div>

            <div class="w-25">
                <label for="username">Senha:</label>
                <input type="password" name="password" id="password" asp-for="@Model.Password"/>
            </div>

            <div class="w-100 mt-3">
                <button type="submit" class="rounded w-25">Entrar</button>
            </div>
        </form>
    </div>

</section>

